html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.hero {
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.navbar-logo {
    padding-bottom: 30px;
}

.navbar-logo img {
    width: 40px;
    height: auto;
    position: absolute;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: #003687;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    top: 120%;
    left: 0;
    width: 0;
    height: 2.8px;
    background: #003687;
    transition: .3s;
    font-weight: bold;
}

nav ul li a:hover {
    font-weight: 600;
}

nav ul li a:hover:before {
    width: 100%;
    font-weight: 600;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 80px;
}

.content .textBox {
    position: relative;
    max-width: 600px;
    z-index: 11;
}

.content .textBox h1 {
    overflow: hidden;
    border-right: 2px solid #003687;
    color: #003687;
    white-space: nowrap;
    margin: 20px 0px 20px;
    font-size: 64px;
    z-index: 10;
    position: relative;
    animation: typing 8s steps(20, end) infinite, blink-caret 0.75s step-end 2s infinite;
}

@keyframes blink-caret {
    from,
    to {
        border-right-color: transparent;
    }

    50% {
        border-right-color: #78A4E5;
    }
}

span {
    color: #78A4E5;
    z-index: 10;
}

@keyframes typing {

    0%,
    100% {
        width: 0;
    }

    50%,
    90% {
        width: 100%;
    }

    95%,
    100% {
        width: 100%;
        visibility: hidden;
    }
}

.content .textBox h2 {
    color: #003687;
    font-weight: 400;
    font-size: 20px;
    z-index: 100;
}

.gear img {
    width: 30px;
    z-index: 0;
    opacity: 0;
    animation: gear 7s linear infinite;
}

@keyframes gear {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.gear img:nth-child(1) {
    animation-delay: 2s;
    width: 25px;
}

.gear img:nth-child(2) {
    animation-delay: 1s;
}

.gear img:nth-child(3) {
    animation-delay: 3s;
    width: 25px;
}

.gear img:nth-child(4) {
    animation-delay: 4.5s;
}

.gear img:nth-child(5) {
    animation-delay: 3s;
}

.gear img:nth-child(6) {
    animation-delay: 6s;
    width: 20px;
}

.gear img:nth-child(7) {
    animation-delay: 7s;
    width: 25px;
}

.gear {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}

.imgBox {
    z-index: 10;
}

.imgBox img {
    width: 600px;
}

.btn-primary {
    background-color: #1D59B4;
    color: #ffffff;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: poppins;
    font-size: 20px;
    font-weight: 500;
    margin-top: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Add transition for a smooth effect */
}

.btn-primary:hover {
    background-color: #060912;
    /* Change to the desired hover background color */
    color: #ffffff;
    /* Change to the desired hover text color */
}

.down {
    margin-top: 100px;
    z-index: 10;
}

.down i {
    font-size: 50px;
    color: #003687;
    margin-left: 920px;
    padding-top: 100px;
    cursor: pointer;
}

.feature {
    background: #F1F5FF;
    width: 100%;
    padding-bottom: 0;
    padding: 100px 0px;
}

.title h3 {
    color: #003687;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    background-color: #F1F5FF;
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: #F1F5FF;
    margin-bottom: 0;
    gap: 100px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #F1F5FF;
    border-radius: 20px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    text-align: center;
    opacity: 0;
    /* initially set opacity to 0 */
    transform: translateX(-20px);
    /* initially translate left by 20px */
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.card.visible {
    opacity: 1;
    transform: translateX(0);
}

.card img {
    height: 150px;
    width: auto;
    align-items: center;
    background-color: #F1F5FF;
    margin: 30px 0;
}

h4 {
    color: #003687;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #F1F5FF;
}

.pra p {
    color: #060912;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px;
    background-color: #F1F5FF;
}

.step {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.card {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.card.visible {
    opacity: 1;
    transform: translateX(0);
}

.card:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-out;
}

.slide-in {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.slide-in-left {
    animation: slideInLeft 1s ease-out;
}

.slide-in-right {
    animation: slideInRight 1s ease-out;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.why-text,
.why-image {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    width: 100%;
    box-sizing: border-box;
}

.why-text {
    animation-name: slideInLeft;
}

.why-image {
    animation-name: slideInRight;
    position: relative;
    overflow: hidden;
}

.animated-image {
    width: 100%;
    height: auto;
    animation: imageAnimation 12s linear infinite;
    /* Adjust the duration as needed */
}

@keyframes imageAnimation {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }
}

.why-section {
    background-color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    /* Ensure the content doesn't overflow */
}

.why-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 12%;
    padding-right: 15%;
}

.why-text {
    flex: 1;
    text-align: left;
    padding-right: 20px;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.why-image {
    flex: 1;
    margin-top: 20px;
    text-align: right;
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.why-text.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.why-image.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.why-text h3 {
    color: #003687;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 600;
    padding-right: 150px;
}

.why-text p {
    color: #003687;
    line-height: 1.5;
    font-size: 18px;
    padding-top: 30px;
}

.why-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
}

.footer {
    height: 5.4vh;
    /* Adjust as needed */
    background-color: #1D59B4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    /* Adjust padding as needed */
    padding-right: 100px;
}

.footer-left h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #F1F5FF !important;
    background-color: #1D59B4;
}

.footer-right {
    display: flex;
    gap: 5px;
    /* Adjust the gap between social icons */
    padding-bottom: 5px;
    text-align: left;
    color: #F1F5FF;
    background-color: #1D59B4;
}

.social-icon {
    width: 20px;
    height: auto;
    margin-right: 15px;
    margin-top: 10px;
    background-color: #1D59B4;
    cursor: pointer;
}

