body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

/* -------------------------------------Navigation Bar Part-------------------------------------  */

.navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.navbar-logo img {
  width: 40px; /* Adjust the width as needed */
  height: auto;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: 003687;
  font-weight: 500;
  font-size: 16px;
  padding-left: 30px;
  color: #003687;
  text-align: center;
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}

/* -------------------------------------Form Part-------------------------------------  */

h2 {
    color: #003687;
    text-align: left;
    font-size: 22px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin-top: 80px;
    margin-left: 1030px;
    margin-bottom: 0;
}

h1 {
    color: #060912;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: left;
    margin-left: 1030px;
    margin-top: 5px;
}

.input-box {
    width: 400px;
    height: 100px;
    flex-shrink: 0;
    margin-left: 1030px;
}

.name-container {
    display: flex;
}

.name-input,
.lastname-input {
    flex: 1;
    margin-right: 20px;
    width: calc(50% - 10px); /* Set the width to 50% minus half of the margin */
}

.email-input {
    width: calc(50% - 10px); /* Set the width to 50% minus half of the margin */
}

.input-box label,
.input-box input {
    font-family: 'Poppins', sans-serif;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: #00255E;
    width: 515px;
}

.input-box input {
    width: 100%;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 10px;
    background: #F1F5FF;
    box-shadow: 3px 3px 5px 0px rgba(143, 143, 143, 0.25);
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the default outline */
}

.btn-primary {
    background-color: #003687;
    color: #ffffff;
    padding: 8px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: poppins;
    font-size: 16px;
    font-weight: 500;
    margin-left: 1180px;
    margin-top: 30px;
}

p.mt-3 {
    color: #1D59B4;
    ;
    margin-left: 1110px;
    margin-bottom: 80px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p.mt-3 a {
    color: #003687;
    text-decoration: underline;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* -------------------------------------Footer Part-------------------------------------  */

.footer {
    background-color: #00255E;
    text-align: left; 
    display: flex;
    justify-content: space-between; 
    align-items: top; /* Center items along the cross axis (vertically) */
    /* position: fixed; */
    width: 100%; 
    height: 250px;
    bottom: 0; 
  }
  
  .footer-left,.footer-right {
    flex: 1; 
  }
  
  /* Additional styling for each column */
  .footer-left {
    text-align: left; 
    padding-left: 150px;
    padding-top: 50px;
    color: #F1F5FF;
  }
  
  .footer-left p{
    padding-top: 20px;
    text-align: left; 
    font-weight: 400;
    font-size: 18px;
    color: #F1F5FF;
  }
  
  .separator {
    width: 360px;
    height: 1px;
    background-color: #F1F5FF;
    margin: 5px 0; /* Adjust the margin as needed */
  }
  
  .social-media{
    display: flex;
    align-items: center;
  }
  
  .social-icon{
    width: 25px;
    height: auto;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  .footer-right {
    text-align: left; 
    color: #F1F5FF;
    padding-top: 20px;
  }
  
  .footer-right h3{
    color: #F1F5FF;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
  }
  
  .footer-right p{
    color: #F1F5FF;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .logo {
    width: 35px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .call-icon {
    width: 20px;
    height: auto;
    margin-right: 15px; /* Add some space between the icon and the phone number */
  }
  
  .phone-number{
    color: #F1F5FF;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .email-icon {
    width: 20px;
    height: auto;
    margin-left: 50px;
    margin-right: 15px; /* Add some space between the icon and the phone number */
  }
  
  .email{
    color: #F1F5FF;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  