body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 60px;
  /* Adjust as needed */
}

.navbar-left {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: #F1F5FF;
}

.navbar-logo img {
  width: 40px;
  height: auto;
  margin-top: 40px;
  margin-left: 100px;
  position: absolute;
  z-index: 2;
}

.navbar-right {
  flex: 2;
  display: flex;
  align-items: flex-end;
  height: 88vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  height: 88vh;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F1F5FF;
  box-sizing: border-box;
  margin-top: 0;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.images img {
  width: 150px;
  height: auto;
  margin-top: 0px;
}

.right-section {
  flex: 2;
  box-sizing: border-box;
}

h1 {
  color: #060912;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  margin-left: 450px;
  margin-top: 150px;
  margin-bottom: 0px;
}

p.mt-3 {
  color: #1D59B4;
  margin-top: 0px;
  margin-left: 450px;
  padding-top: 5px;
  margin-bottom: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.mt-3 a {
  color: #003687;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.input-box {
  width: 400px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 450px;
  margin-bottom: -15px;
  position: relative;
}

.input-box i {
  position: absolute;
  border: none;
  font-size: 23px;
  color: #999;
  padding-right: 30px;
  transition: color 0.3s ease;
}

.input-box input:focus+i,
.input-box input:valid+i,
.input-box input:not(:placeholder-shown)+i {
  color: #1D59B4;
}

.input-box input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.input-box input {
  width: 100%;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  text-indent: 20px;
  /* Set the text indent to match the padding-left */
}

.input-box input:focus {
  border-bottom: 2px solid #1D59B4;
  border-top: 2px solid transparent;
}

.btn-primary {
  background-color: #1D59B4;
  color: #ffffff;
  padding: 8px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: poppins;
  font-size: 16px;
  font-weight: 500;
  margin-left: 580px;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition for a smooth effect */
}

.btn-primary:hover {
  background-color: #060912; /* Change to the desired hover background color */
  color: #ffffff; /* Change to the desired hover text color */
}


.footer {
  height: 5.4vh;
  /* Adjust as needed */
  background-color: #1D59B4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  /* Adjust padding as needed */
  padding-right: 100px;
}

.footer p {
  margin: 0;
  font-size: 14px;
  color: #F1F5FF;
}

.footer-right {
  display: flex;
  gap: 5px;
  /* Adjust the gap between social icons */
  padding-bottom: 5px;
  text-align: left;
  color: #F1F5FF;
}

.social-icon {
  width: 20px;
  height: auto;
  margin-right: 15px;
  margin-top: 10px;
}