body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* -------------------------------------Navigation Bar Part-------------------------------------  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

.navbar-logo {
  padding-bottom: 30px;
}

.navbar-logo img {
  width: 40px;
  height: auto;
  position: absolute;
  cursor: pointer;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #003687;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

nav ul li a::before {
  content: '';
  position: absolute;
  top: 120%;
  left: 0;
  width: 0;
  height: 2.8px;
  background: #003687;
  transition: .3s;
  font-weight: bold;
}

nav ul li a:hover {
  font-weight: 600;
  text-decoration: none;
}

nav ul li a:hover:before {
  width: 100%;
  font-weight: 600;
}

h1 {
  color: #060912;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

.container {
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.nav-item {
  margin-right: 10px;
  font-family: poppins;
}

.nav-link.active {
  color: #F1F5FF;
  background-color:#003687;; /* Add your preferred background color */
  border-radius: 5px; /* Optional: Add border-radius for a rounded look */
}

/* Style for inactive tabs */
.nav-link {
  color: #000; /* Default color for inactive tabs */
}

.btn{
  background-color: #F1F5FF;
  border-radius: 30px;
}

.btn :hover{
  background-color: #003687;
}

#send-btn{
  background-color: #003687;
  color: #fff;
}
.chat-box {
  height: 350px;
  overflow: auto;
  padding: 10px;
}

.chat-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F1F5FF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.user-message {
  background-color:#1D59B4;
  color: #fff;
  font-size: 20px;
 
}

.bot-message {
  background-color: rgba(120, 164, 229, 0.98);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.message-text pre code {
  font-size: 14px;
  white-space: pre-wrap;
}

.user-icon {
  font-size: 20px;
  margin-right: 20px;  
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.bot-icon {
  font-size: 20px;
  margin-right: 20px;  
  border-radius: 50%;
  width: 25px;
  height: 25px;
}


/* -------------------------------------Footer Part-------------------------------------  */

.footer {
  height: 5.4vh;
  /* Adjust as needed */
  background-color: #1D59B4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  /* Adjust padding as needed */
  padding-right: 100px;
}

.footer-left h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #F1F5FF !important;
  background-color: #1D59B4;
}

.footer-right {
  display: flex;
  gap: 5px;
  /* Adjust the gap between social icons */
  padding-bottom: 5px;
  text-align: left;
  color: #F1F5FF;
  background-color: #1D59B4;
}

.social-icon {
  width: 20px;
  height: auto;
  margin-right: 15px;
  margin-top: 10px;
  background-color: #1D59B4;
  cursor: pointer;
}