<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ALISA I Homepage</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
  <div class="hero">
    <nav>
      <div class="navbar-logo">
        <img src="static/images/Alisa-Blue-Logo.png" alt="Your Logo">
      </div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Generate Prompt</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </nav>

    <div class="content">
      <div class="textBox">
        <h1>SENIOR <span>UI</span> PROMPT</h1>
        <h2>Boost seniors' digital confidence. Spark creativity with our <br>prompt generator. ALISA: Unleash fresh ideas
          and endless<br>possibilities for designers and developers.</h2>
        <button type="submit" class="btn btn-primary mt-3">Get Start</button>
      </div>
      <div class="imgBox">
        <img src="static/images/background.png" class="head">
      </div>
    </div>

    <div class="down">
      <i class="uil uil-angle-double-down"></i>
    </div>
  </div>

  <section class="feature">
    <div class="title">
      <h3>Exclusive features for your next groundbreaking projects</h3>
    </div>

    <div class="box">
      <div class="card">
        <img src="static/images/inspiration.png" alt="Your Logo">
        <h4>Instant Inspiration</h4>
        <div class="pra">
          <p>Spark your creativity with prompt ideas that appear in an instant.</p>
          <p style="text-align: center;"></p>
        </div>
      </div>

      <div class="card">
        <img src="static/images/possibilities.png" alt="Your Logo">
        <h4>Endless Possibilities</h4>
        <div class="pra">
          <p>Explore limitless horizons and never run out of creative options.</p>
          <p style="text-align: center;"></p>
        </div>
      </div>

      <div class="card">
        <img src="static/images/prompts.png" alt="Your Logo">
        <h4>Customize Prompts</h4>
        <div class="pra">
          <p>Tailor prompts to your needs to fit your unique creative vision.</p>
          <p style="text-align: center;"></p>
        </div>
      </div>
    </div>
  </section>

  <section class="steps">
    <h3>4 steps with ALISA</h3>

    <div class="process-wrapper">
      <div id="progress-bar-container">
        <ul>
          <li class="step step01 active">
            <div class="step-inner">Tell Us Your Desire</div>
          </li>
          <li class="step step02">
            <div class="step-inner">Bring It to Life</div>
          </li>
          <li class="step step03">
            <div class="step-inner">Discover Your Spark</div>
          </li>
          <li class="step step04">
            <div class="step-inner">Seize Your Inspiration</div>
          </li>
        </ul>
        <div id="line">
          <div id="line-process"></div>
        </div>
      </div>
      <div id="progress-content-section">
        <div class="section-content discovery active">
          <h5>Tell Us Your Desire</h5>
          <p>Share your creative direction, and we'll tailor the prompt to your imagination.</p>
        </div>
        <div class="section-content strategy">
          <h5>Bring It to Life</h5>
          <p>With a single click, we'll turn your vision into a vivid prompt.</p>
        </div>
        <div class="section-content creative">
          <h5>Discover Your Spark</h5>
          <p>Your unique prompt is revealed, igniting your creative journey.</p>
        </div>
        <div class="section-content strategy">
          <h5>Seize Your Inspiration</h5>
          <p>Copy your newfound inspiration and unleash your creativity.</p>
        </div>
      </div>
    </div>
  </section>

 



</body>

</html>